<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Airline Ranking</title>
</head>
<body>
    <h1>Airline Ranking</h1>
    <table>
        <thead>
            <tr>
                <th>Ranking</th>
                <th>Name</th>
                <th>AirHelp Score</th>
                <th>Punctuality</th>
                <th>Customer Review</th>
                <th>Customer Service Efficiency</th>
            </tr>
        </thead>
        <tbody>
            {% for airline in airlines %}
            <tr>
                <td>{{ airline.ranking }}</td>
                <td>{{ airline.name }}</td>
                <td>{{ airline.airhelp }}</td>
                <td>{{ airline.ponctualite }}</td>
                <td>{{ airline.avis }}</td>
                <td>{{ airline.service }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>